body {
  color: aliceblue;
  background-color: rgb(72, 123, 153); 
}
button {
  width: 160px;
  height: 40px;
  background-color: dimgray;
  color: aliceblue;
  padding: 5px;
  margin: 1rem;
}

.addPartModal {
  background-color: rgb(88, 169, 216);
}
.form-group {
  padding: 5px;
  margin: 3px;
  display: grid;
}
.form-group input, select {
  height: 30px;
  border-radius: 3px;
  font-size: 1.4rem;
}
.form-group label {
  padding-bottom: 5px;
}