<template class="task-template">
  <section id="check-out-inventory-section" class="section js-section u-category-outgoing-orders">
    <header class="section-header">
      <div class="section-wrapper">
				<h1>Add Parts</h1>
      </div>
		</header>

    <h2>Scan new items</h2>
    <h2>Hand key Item</h2>

    <h1>Add A New Part</h1>
    <form action="" method="post" id="addPartForm">
      <div class="form-group">
        <label for="partName">Part Name</label>
        <input type="text" name="partName">
      </div>
      <div class="form-group">
        <label for="partNumber">Part Number</label>
        <input type="text" name="partNumber">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity">
      </div>
  <div class="form-group">
      <label for="category">Category</label>
      <select name="category" id="category">
        <option value="cabinets">cabinets</option>
        <option value="cpu-hd-ram">cpu-hd-ram</option>
        <option value="power-supply/wiring-harness">power-supply/wiring-harness</option>
        <option value="screens">screens</option>
        <option value="player-tracking">player-tracking</option>
        <option value="printers">printers</option>
        <option value="card-reader">card-reader</option>
      </select>
  </div>
      <button type="submit">Create</button>
    </form>  

		<script type="text/javascript">
		
		</script>
	</section>
</template>

