<template class="task-template">
  <section id="categories-section" class="section js-section u-category-inventory">
    <header class="section-header">
      <div class="section-wrapper">
        <h1>Browse by Category</h1>
        <ul>
          <li>Cabinets</li>
          <li>Screens</li>
          <li>Printers</li>
          <li>Bill Validators</li>
          <li>Player Tracking</li>
          <li>Control Boards</li>
          <li>Switches</li>
          <li>KVM</li>
          <li>Toppers</li>
          <li>Servers/Racks</li>
          <li>Shop Equipment</li>
          <li>Misc.</li>
        </ul>
      </div>
    </header>
    <form action="" method="get">
      <div class="form-group">
          <label for="search">Search Parts Inventory</label>
          <input type="text" name="search" id="partSearch" placeholder="enter part name or number">
      </div>
      <button type="submit">Search</button>
    </form>
    
    <script type="text/javascript">
      // require('./renderer-process/windows/create-window')
    </script>

  </section>
</template>