<template class="task-template">
  <section id="check-inventory-section" class="section js-section u-category-inventory">
    <header class="section-header">
      <div class="section-wrapper">
				<h1>Check Inventory</h1>
      </div>
		</header>

		<h1>Browse by Category</h1>
		<ul>
			<li>Cabinets</li>
			<li>Screens</li>
			<li>Printers</li>
			<li>Bill Validators</li>
			<li>Player Tracking</li>
			<li>Control Boards</li>
			<li>Switches</li>
			<li>KVM</li>
			<li>Toppers</li>
			<li>Servers/Racks</li>
			<li>Shop Equipment</li>
			<li>Misc.</li>
    </ul>
    <h2>Search</h2>

		<script type="text/javascript">
		
		</script>
	</section>
</template>