<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button id="addPart">Add New Part</button>

  <hr>
	<h2>Parts Categories</h2>
	<div class="categories">
		<ul>
			<li>Cabinets</li>
			<li>CPU/Hard Drive/Ram</li>
			<li>Power Supply/Wiring Harness</li>
			<li>Printers</li>
			<li>Card Readers</li>
			<li>Buttons</li>
			<li>Player Tracking</li>
			<li>Cabinet Base</li>
			<li>Screens</li>
			<li>Cables/misc.</li>
			<li>Servers</li>
		</ul>
  </div>
  
  <script>
    require('./controllers/addPart.js');
  </script>
</body>
</html>