<template class="task-template">
  <section id="db-categories-section" class="section js-section u-category-dashboard">
    <header class="section-header">
      <div class="section-wrapper">
				<h1>Category DashBoard</h1>
      </div>
		</header>

		<h1>Manage Categories</h1>
		<ul>
			<li>Cabinets</li>
			<li>Screens</li>
			<li>Printers</li>
			<li>Bill Validators</li>
			<li>Player Tracking</li>
			<li>Control Boards</li>
			<li>Switches</li>
			<li>KVM</li>
			<li>Toppers</li>
			<li>Servers/Racks</li>
			<li>Shop Equipment</li>
			<li>Misc.</li>
		</ul>

		<script type="text/javascript">
		
		</script>
	</section>
</template>