<template class="task-template">
  <section id="incoming-order-status-section" class="section js-section u-category-incoming-orders">
    <header class="section-header">
      <div class="section-wrapper">
				<h1>Check Incoming Order Status</h1>
      </div>
		</header>

		<h1>Browse Orders</h1>
		<table>
      <thead>Incoming Orders</thead>
      <tr>
        <td>Supplier Name</td>
        <td>Order Number</td>
        <td>Arrival Date</td>
        <td>Status - Tracking info</td>
        <td>Notes</td>
      </tr>
    </table>

		<script type="text/javascript">
		
		</script>
	</section>
</template>