<template class="task-template">
  <section id="outgoing-order-status-section" class="section js-section u-category-outgoing-orders">
    <header class="section-header">
      <div class="section-wrapper">
				<h1>Outgoing Order Status</h1>
      </div>
		</header>

    <h2>Browse Orders</h2>
    <table>
      <th>Outgoing Orders</th>
      <tr>
        <td>Customer Name</td>
        <td>Order Number</td>
        <td>Due Date</td>
        <td>Current Status</td>
        <td>Notes</td>
      </tr>
    </table>

		<script type="text/javascript">
		
		</script>
	</section>
</template>